<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tweeter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15A09DBA1C946C6500D8C66C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15A09DCE1C946C6600D8C66C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15A09DD91C946C6600D8C66C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
